{{ form_start(form) }}
    <div class="row">
        <button type="submit" id="btn-form" class="btn btn-success rectangle_6">
            <i class="fas fa-plus-circle"></i>
            <span class="add_item">Add new item</span>
        </button>
        <button type="button" id="btn-del" class="btn btn-danger rectangle_7">
            <i class="fas fa-trash"></i>
            <span class="delete_item">Delete item</span>
        </button>
    </div>
    <div class="rectangle_8">
        <div class="row">
            {{ form_widget(form.title, {attr: {'class': 'rectangle_9', 'placeholder': 'Name of item'}}) }}
            {{ form_widget(form.cost, {attr: {'class': 'rectangle_10', 'placeholder': 'Price'}}) }}
        </div>
    </div>
{{ form_end(form) }}