{% extends 'base.html.twig' %}

{% block title %}My Expenses{% endblock %}

{% block body %}
    <div class="rectangle_1">
        <div class="my_expenses">
            <span class="text-center">My Expenses</span>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="filter">Filters:</label>
                <div class="filters">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="today" data-toggle="pill" href="#" role="tab" aria-controls="today" aria-selected="true">Today</a>
                            <a class="nav-link" id="yesterday" data-toggle="pill" href="#" role="tab" aria-controls="yesterday" aria-selected="false">Yesterday</a>
                            <a class="nav-link" id="thisweek" data-toggle="pill" href="#" role="tab" aria-controls="thisweek" aria-selected="false">This week</a>
                        </div>
                    </div>
                </div>
                <div class="font_choose">
                    <label>Choose date range:</label>
                </div>
                <!-- Calendar -->
                <div class="icalendar">
                    <div class="icalendar__month">
                        <div class="icalendar__prev" onclick="moveDate('prev')">
                            <span>&#10094</span>
                        </div>
                        <div class="icalendar__current-date">
                            <h2 id="icalendarMonth"></h2>
                            <div>
                                <div id="icalendarDateStr"></div>
                            </div>
                        </div>
                        <div class="icalendar__next" onclick="moveDate('next')">
                            <span>&#10095</span>
                        </div>
                    </div>
                    <div class="icalendar__week-days">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="icalendar__days"></div>
                </div>
            </div>
            <div class="col-8">
                <div id="list">
                    {{ include('main/_form.html.twig') }}
                </div>
                <form name="product" method="post" id="product">
                    <div class="row">
                        <button type="submit" id="btn-form" class="btn btn-success rectangle_6">
                            <i class="fas fa-plus-circle"></i>
                            <span class="add_item">Add new item</span>
                        </button>
                        <button type="button" id="btn-del" class="btn btn-danger rectangle_7">
                            <i class="fas fa-trash"></i>
                            <span class="delete_item">Delete item</span>
                        </button>
                    </div>
                    <div class="rectangle_8">
                        <div class="row">
                            <input type="text" id="product_title" name="product[title]" required="required" placeholder="Name of item" class="rectangle_9">
                            <input type="text" id="product_cost" name="product[cost]" required="required" placeholder="Price" class="rectangle_10">

                        </div>
                    </div>
                </form>
                <input type="hidden" id="product__token" name="product[_token]" value="1tBWnxS-u0JpvTpsW5Q5ytAheoT_n2sgOmaINA-znPc">
            </div>
        </div>
    </div>
{% endblock %}