{% extends 'base.html.twig' %}

{% block title %}My Expenses{% endblock %}

{% block body %}
    <div class="rectangle_1">
        <div class="my_expenses">
        <span class="text-center">My Expenses</span>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="filter">Filters:</label>
                <div class="filters">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Today</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Yesterday</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">This week</a>
                        </div>
                    </div>
                </div>
                <div class="font_choose">
                    <label>Choose date range:</label>
                </div>
                <!-- Calendar -->
                <div class="icalendar">
                    <div class="icalendar__month">
                        <div class="icalendar__prev" onclick="moveDate('prev')">
                            <span>&#10094</span>
                        </div>
                        <div class="icalendar__current-date">
                            <h2 id="icalendarMonth"></h2>
                            <div>
                                <div id="icalendarDateStr"></div>
                            </div>

                        </div>
                        <div class="icalendar__next" onclick="moveDate('next')">
                            <span>&#10095</span>
                        </div>
                    </div>
                    <div class="icalendar__week-days">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="icalendar__days"></div>
                </div>
            </div>
            <div class="col-8">
                <div class="rectangle_2">
                    <div class="current_date">
                        <span class="text-center">{{ "now"|date("d M, Y") }}</span>
                    </div>
                </div>
                <div class="rectangle_5" id="list">
                    <form action="">
                        <div class="form-check radio_item">
                            <table class="table table-borderless">
                                <tbody>
                                {% for product in products %}
                                    <tr>
                                        <th scope="row"><input class="form-check-input" type="radio" name=""></th>
                                        <td><label class="form-check-label">{{ product.title }}</label></td>
                                        <td style="padding-left: 100px;"><label class="form-check-label">$ {{ product.cost }}</label></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-success rectangle_6">
                        <i class="fas fa-plus-circle"></i>
                        <span class="add_item">Add new item</span>
                    </button>
                    <button type="button" class="btn btn-danger rectangle_7">
                        <i class="fas fa-trash"></i>
                        <span class="delete_item">Delete item</span>
                    </button>
                </div>
                <form method="post">
                    <div class="rectangle_8">
                        <div class="row">
                            <input type="text" id="product_title" name="product[title]" required="required" placeholder="Name of item" class="rectangle_9">
                            <input type="text" id="product_cost" name="product[cost]" required="required" placeholder="Price" class="rectangle_10">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
