{% extends 'base.html.twig' %}

{% block title %}My Expenses{% endblock %}

{% block body %}
    <div class="rectangle_1">
        <div class="my_expenses">
            <span class="text-center">My Expenses</span>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="filter">Filters:</label>
                <div class="filters">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="today" data-toggle="pill" href="#" role="tab" aria-controls="today" aria-selected="true">Today</a>
                            <a class="nav-link" id="yesterday" data-toggle="pill" href="#" role="tab" aria-controls="yesterday" aria-selected="false">Yesterday</a>
                            <a class="nav-link" id="thisweek" data-toggle="pill" href="#" role="tab" aria-controls="thisweek" aria-selected="false">This week</a>
                        </div>
                    </div>
                </div>
                <div class="font_choose">
                    <label>Choose date range:</label>
                </div>
                <!-- Calendar -->
                <div class="icalendar">
                    <div class="icalendar__month">
                        <div class="icalendar__prev" onclick="moveDate('prev')">
                            <span>&#10094</span>
                        </div>
                        <div class="icalendar__current-date">
                            <h2 id="icalendarMonth"></h2>
                            <div>
                                <div id="icalendarDateStr"></div>
                            </div>
                        </div>
                        <div class="icalendar__next" onclick="moveDate('next')">
                            <span>&#10095</span>
                        </div>
                    </div>
                    <div class="icalendar__week-days">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="icalendar__days"></div>
                </div>
            </div>
            <div class="col-8">
                <div id="list">
                    {{ include('main/_data.html.twig') }}
                </div>
                <div id="form">
                    {{ include('main/_form_twig.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}